.page-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  /* background-color: #f6f6f6; */
  width: 100%;
  max-width: 1200px;
  box-shadow: 40px 40px 40px -40px hsla(356, 81%, 58%, 1);
  box-shadow: 40px 40px 40px -40px var(--spt-color-accent);
  box-shadow: 3px 0px 40px 7px var(--spt-color-accent-2);
  /* padding: 0 3rem 3rem; */
  border-radius: 0 0 50px 50px;
  border: 9px solid var(--spt-color-background);
}

.outerwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.login-stats-container {
  max-width: 75%;
  top: var(--spt-navbar-height);
  left: 100%;
  position: relative;
  transform: translate(-100%, 0%);
  padding: 1em 3em 5em 1em;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.login-outer-wrap div, .login-outer-wrap p {
  display: flex;
  align-content: flex-end;
  justify-content: right;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: fit-content;
}

.login-outer-wrap p {
  background: transparent;
  max-width: 75%;
}

.login-outer-wrap button {
  background: var(--spt-color-accent-2-gradient) !important;
  color: var(--spt-color-background) !important;
}
.login-outer-wrap {
  max-width: 80%;
}

.stats-outer-wrap{
  width: 100%;
  // padding: 1em;
  margin: 1em 0;
}

.angled-rectangle {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 800px;
  z-index: -1;
  height: 114%;
}

.angled-rectangle:after {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  color: var(--spt-color-accent);
  background: linear-gradient(
    135deg,
    #000000 25%,
    transparent 35%,
    transparent 100%
  );
  background: linear-gradient(
    135deg,
    #000000 25%,
    #0f0f0f7d 0px,
    transparent 26%,
    transparent 100%
  );
  background: linear-gradient(135deg, #ffffff 25%, rgba(15, 15, 15, 0.4901960784) 0px, transparent 26%, transparent 30%, #ffffff 25%);
  height: 114%;
}

.angled-rectangle .background {
  min-width: 100%;
  height: inherit;
}
.db-error-message {
  font: var(--spt-font-subheading);
  max-width: 800px;
  margin: 2em auto;
}

.welcome-section-container {
  position: relative;
  overflow: hidden;
  // padding: 370px 0 100px;
}

.background-video-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.background-video-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: fixed;
  top: 0;
  max-width: 1200px;
  height: 100vh;
  min-height: 841px;
  max-height: 100%;
  margin: 0 auto;
  width: 100%;
}

.background-video-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 9px);
  height: 100%;
  background: var(--spt-color-accent-2-gradient);
  opacity: 0.9;
  /* background: var(--spt-color-accent); */
  /* background-image: linear-gradient( 180deg, hsl(329.42deg 62.75% 48.43% / 80%) 30%, #000000c7 83% ); */
  box-shadow: inset 0px 0px 40px 0px black;
  box-shadow: inset 20px 20px 40px -20px #000000,
    inset -10px -10px 20px -10px hsl(329 110% 51% / 1);
  /* box-shadow: inset -20px 0px 40px -20px black;*/
}

.background-video {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  max-width: calc(100% - 9px);
  transform: translateX(-9px);
}

.main-music-player {
  position: relative;
  width: 100%;
  max-width: 60%;
  margin: 3em 2.5% auto auto;
  height: max-content;
}

.main-music-player-wrap > div > div:nth-child(2) > div:first-child {
  box-shadow: none;
}

.main-music-player-wrap {
  height: 100%;
  background: var(--spt-color-background);
  padding: 1em 0 0.25em;
  border-radius: 50px;
}

.main-music-player-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
  box-shadow: inset 10px 10px 30px -20px #ffffff82,
    inset -0px -0px 20px 0px var(--spt-color-accent);
  pointer-events: none;
}

@media only screen and (min-width: 1025px) {
  .bottom-bar-wrap {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .main-music-player {
    margin: calc(9em - 5vw) 2.5% auto auto;
  }
}

@media only screen and (max-width: 550px) {
  .welcome-section-container {
    padding-bottom: 50px;
  }
  .angled-rectangle:after {
    background: linear-gradient(
      135deg,
      #000000 32%,
      #0f0f0f7d 0px,
      transparent 26%,
      transparent 100%
    );
    height: 114%;
  }
  .main-music-player {
    margin: calc(13em - 9vw) auto auto auto;
    width: 100%;
    min-width: 100%;
  }
}
