.item {
  position: relative;
}
.category-children-amount {
  color: inherit;
  -webkit-text-fill-color: initial;
  box-shadow: none;
  background: transparent;
  font-family: Arial;
}

.protectedHidden-true,
[class*="protectedHidden-true"] {
  display: none !important;
}

.protectedVisible-true {
  textarea,
  input,
  select {
    position: relative;
    display: block;
    background: inherit;
    color: inherit;
    border: none;
    /* text-overflow: ellipsis;
  white-space: nowrap; */
    resize: none;
    max-width: 100%;
    pointer-events: none;
    line-height: normal !important;
  }
}

[class*="master-parent-group"] [class*="dependencies-container"] li {
  textarea,
  input,
  select {
    position: relative;
    display: block;
    background: inherit;
    color: inherit;
    border: none;
    /* text-overflow: ellipsis;
  white-space: nowrap; */
    resize: none;
    max-width: 100%;
    pointer-events: none;
    line-height: normal !important;
    box-shadow: none;
    padding: 0;
    white-space: break-spaces;
  }
}
.name {
}

.name label {
  display: none;
}
/* li { */
/* width: 100%; */
/* flex-grow: 1;
  padding: 0.25em 0.5em;
} */

._id {
  min-width: 100%;
  margin: 0;
}
._id textarea {
  background: inherit;
  color: inherit;
  border: none;
  pointer-events: none;
}

.identifier,
.createdAt,
.updatedAt,
.iframeCustomAttributes {
  flex-basis: 100%;
  min-width: 100%;
}

.iframeCustomAttributes,
.iframeCustomAttributes textarea {
  flex-grow: 1;
  min-height: max-content !important;
  max-height: none !important;
}

.identifier textarea,
.createdAt input,
.updatedAt input {
  pointer-events: none;
  opacity: 0.5;
}

.__v {
  display: none;
}

.subgroup-songs {
  display: flex;
  width: 100%;
}

.item label,
.item:before {
  opacity: 0.5;
  font-variant: all-small-caps;
  transition: 0.2s all ease;
  background: var(--spt-color-background);
  color: var(--spt-color-accent-dark);
  padding: 0.25vh 1vw;
  border-radius: 12.5px;
  margin-top: 1em;
}

ul[type="goal"] {
  .item label,
  .item:before {
    color: var(--spt-color-accent-2-dark);
  }
}

// .item:hover label,
// .item:hover:before {
//   opacity: 1;
// }

.item textarea,
.item input {
  width: 100%;
  /* height: 2em; */
  line-height: 2em;
  /* padding: 0 1em; */
  display: flex;
  /* word-break: break-all; */
  /* box-shadow: inset 0px -3px 3px -3px; */
  font-size: 1em;

  min-height: 1.25em;
  font: var(--spt-font-body-text);
  font-weight: 700;
  text-shadow:
    -1px -1px 1px #00000026,
    1px 1px 1px #80808017;
}

.item textarea,
.item input {
  max-height: 10em;
  overflow: hidden;
}

::placeholder {
  color: rgba(128, 128, 128, 0.592);
  font-family: inherit;
  text-transform: capitalize;
  font-style: italic;
}

.group .subgroup-tags li {
  width: 100%;
}

.subgroup-tags .group-title {
  text-transform: none;
  font: var(--font-body-text);
  font-size: 1.6rem;
  margin: 0;
}

select {
  text-align-last: center;
  display: flex;
  justify-content: center;
  padding: 0.25em;
  text-align: center;
}

.subgroup-tags textarea,
.subgroup .notes,
.subgroup .description {
  width: 100%;
}

.type {
  /* max-width: 10em; */
  min-width: fit-content;
  grid-area: left2;
}

/* Standard Grid Areas */
.group-title {
  grid-area: title;
}
.progressbar {
  grid-area: progressbar;
  width: 100%;
  transform: translate(0, -25%);
}

.progressbar > div {
  width: 100%;
  height: 1em;
  /* box-shadow: 2px 2px 4px -3px inset black, -2px -2px 4px -3px inset white, 1px 1px 4px -3px white, -1px -1px 4px -3px black; */
  border-radius: 50px;
  /* background: hsla(0, 0%, 0%, 0.05);*/
}

.progressbar label {
  display: none;
}
.name label {
  display: none;
}
body .name {
  grid-area: name;
  padding-top: 0.5em;
  textarea {
    font-variant: small-caps;
  }
}
body .method {
  grid-area: method; // font: var(--spt-font-body-text-12);
  input {
    font-variant: small-caps;
  }
}
.method label {
  display: none;
}

.method label:after {
  content: " (corse, tutorial, project, etc.)";
  font-size: 75%;
}

.method input {
  font: inherit;
  font-weight: 700;
  overflow: visible;
  text-overflow: ellipsis;
  min-width: 10em;
}

.priority {
  grid-area: priority;
  display: flex;
  flex-direction: column;
  transform: translateY(-25%);
}

.priority label {
  display: none;
}

.priority:before {
  content: "Priority";
  position: relative;
  font-size: 1rem;
  transform: translateY(25%);
  text-align: center;
  line-height: 1rem;
  margin: 0 auto;
  padding: 0 0;
}

.msup {
  grid-area: msup;
}
.msup label {
  display: none;
}
.msup:before,
.goal-msup:before {
  content: "Goal or Step this Directly Works Towards";
}
.asup:before,
.goal-asup:before {
  content: "This also supports... ";
}
.asup label {
  display: none;
}
.asup {
  grid-area: asup;
}
.des {
  grid-area: des;
}
.des label {
  display: none;
}
.des:before,
.goal-des:before {
  content: "Description:  ";
}
.url {
  grid-area: url;
}
.url label {
  display: none;
}
.url:before {
  content: "Link:  ";
}
.type {
  grid-area: type;
}
// .type label {
//   display: none;
// }
.type {
  grid-area: type;
}
.author {
  grid-area: author;
}
.author label {
  display: none;
}
.author:before {
  content: "author";
}
.platform {
  grid-area: platform;
}
.platform label {
  display: none;
}
.platform:before {
  content: "Platform:  ";
}
.start {
  grid-area: start;
}
.start label {
  display: none;
}
.start:before,
.goal-start:before {
  content: "Start:  ";
}
.acomp {
  grid-area: acomp;
}
.acomp label {
  display: none;
}
.acomp:before,
.goal-acomp:before {
  content: "Finish:  ";
}
.status:before,
.goal-status:before {
  content: "Status:  ";
}
.status label {
  display: none;
}
.status {
  grid-area: status;
}
.lectureTime {
  grid-area: lectureTime;
}
.lectureTime label {
  display: none;
}
.lectureTime:before,
.goal-lectureTime:before {
  content: "Lecture Time:  ";
}
.labTime {
  grid-area: labTime;
}
.labTime label {
  display: none;
}
.labTime:before,
.goal-labTime:before {
  content: "Lab Time:  ";
}
.markcomplete {
  grid-area: markcomplete;
}
.markcomplete > label {
  display: none;
}
.markcomplete:before {
  content: "Complete";
  margin-bottom: 0.5em;
}
.markforreview {
  grid-area: markforreview;
}
.markforreview > label {
  display: none;
}
.markforreview:before {
  content: "Mark for Later Review";
  margin-bottom: 0.5em;
}
.tags {
  grid-area: tags;
}
div .markforreview,
div .markcomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  box-shadow:
    0 -9px 10px -12px white,
    0 9px 10px -12px black;
  min-height: 5em;
}
.demonstratedskillsdesc {
  grid-area: demonstratedskillsdesc;
}
.demonstratedskillsdesc label {
  display: none;
}
.demonstratedskillsdesc:before {
  content: "Demontration of Skills:  ";
}
.demonstratedskillurl {
  grid-area: demonstratedskillurl;
}
.demonstratedskillurl label {
  display: none;
}
.demonstratedskillurl:before {
  content: "Demontration URL:  ";
}
.itemnotes {
  grid-area: itemnotes;
}
.itemnotes label {
  display: none;
}
.itemnotes:before {
  content: "Notes:  ";
}
.createdAt {
  grid-area: createdAt;
}
.createdAt label {
  display: none;
}
.createdAt {
  grid-area: createdAt;
}
.updatedAt label {
  display: none;
}
.updatedAt {
  grid-area: updatedAt;
}
.updatedAt {
  grid-area: updatedAt;
}
.identifier {
  grid-area: identifier;
}
._id {
  grid-area: _id;
}
h4._id {
  margin: 1em auto;
  background: inherit;
  color: inherit;
}
h4._id:before {
  content: "Database ID ";
  font: inherit;
  letter-spacing: inherit;
  background: inherit;
  color: inherit;
  -webkit-text-fill-color: inherit;
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  opacity: 0.5;
}
.id {
  grid-area: id;
}
.slug {
  grid-area: slug;
}
.masterLibraryID {
  grid-area: masterLibraryID;
}
li[class*="__v"] {
  display: none;
}
/* ********** */

/* Goal Section Grid Adjustments */
ul[type="goal"] > [data-container-type="collapsibleElm"] > {
  .priority,
  .method,
  .labTime,
  .lectureTime,
  .platform,
  .author,
  .progressbar {
    display: none;
  }
}

/* ********** */

@keyframes pulseYellow {
  0% {
    box-shadow: 0 0 0px 0px yellow;
  }
  10% {
    box-shadow: 0 0 10px 3px yellow;
  }
  100% {
    box-shadow: 0 0 0px 0px yellow;
  }
}

@keyframes pulseAccent {
  0% {
    box-shadow: 0 0 0px 0px var(--spt-color-accent);
  }
  10% {
    box-shadow: 0 0 10px 3px var(--spt-color-accent);
  }
  100% {
    box-shadow: 0 0 0px 0px var(--spt-color-accent);
  }
}

ul[class*="edited-list"]
  > [data-container-type="collapsibleElm"]
  > .edited-field {
  animation: pulseYellow 2s ease infinite;
  padding: 1em !important;
  background: yellow;
  color: black;
  margin: 1em auto 0;
}

.edited-field:after {
  content: "Edited";
  animation: pulseYellow 2s ease infinite;
  padding: 0.5em !important;
  background: yellow;
  color: black;
  /* margin: 1em auto 0; */
  position: absolute;
  top: 0;
  left: 0;
  font-size: 7px;
  transform: translate(50%, 50%);
  border-radius: 50px;
}

li[class*="name"].edited-field:after {
  margin-left: 92px;
  transform: translate(50%, -17%);
  border-radius: 50px;
}

ul[class*="edited-list"] li[class*="name"].edited-field:after {
  transform: translate(50%, 0%);
  border-radius: 50px;
}

textarea {
  max-width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
