.studyPlan-items-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* font-family: Arial; */
  text-align: left;
  font-size: 16px;
  font: var(--spt-font-body-text);
  min-width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  background: inherit;
  color: inherit;
  padding: 1em;
  list-style: none;
  padding: 0;
  // box-shadow: inset 0px -13px 7px -14px black, inset 0px 14px 7px -14px #00000087;
}

.group-studyPlan-goals ul,
.group-studyPlan ul {
  color: white;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px grey, 0px 0px 0px #000000; */
}

.studyPlan-items-group ul[type="goal"] {
  background: var(--spt-color-accent-2-gradient);
}

ul {
  transition: 0.3s all ease;
}

[data-section*="goal"][hiddeItems="true"]
  > div
  > [data-mainGoal="false"][type="goal"],
ul[data-section="studyPlan"][hiddeitems="true"]
  > div
  > ul[data-forReview="true"],
ul[data-section="studyPlan"][hiddeitems="true"]
  > div
  > ul[data-markedComplete="true"] {
  height: 0;
  opacity: 0;
  margin: 0;
}

.goal {
  border: 10px solid red !important;
}
.group-studyPlan-goals ul > div {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "title progressbar  name  name name url-arrow"
    "slug slug slug slug slug slug"
    "msup msup   msup asup asup asup"
    "des   des  des   des des des"
    "url   url  url   url url url"
    "type   author  author  author platform platform"
    "lectureTime labTime    start    acomp  status status"
    "demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc"
    "demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl"
    "itemnotes itemnotes itemnotes itemnotes itemnotes itemnotes"
    "tags tags tags tags tags tags"
    "markforreview  markforreview markforreview markcomplete  markcomplete markcomplete"
    "createdAt createdAt createdAt updatedAt updatedAt updatedAt"
    "_id _id _id _id _id _id" "id id id id id id" "identifier identifier identifier identifier identifier identifier" "masterLibraryID masterLibraryID masterLibraryID masterLibraryID masterLibraryID masterLibraryID"
    "buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer"
    "dependencies-container dependencies-container dependencies-container dependencies-container dependencies-container dependencies-container";

  grid-auto-flow: row dense;
  max-width: 100%;
}
.group-studyPlan-goals > button {
  background: var(--spt-color-accent-2-gradient);
  border: none;
}

.group-studyPlan ul {
  background: var(--spt-color-accent-gradient);
}

.group-studyPlan ul > div,
.group-hold ul > div {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, 1fr) 4em;
  grid-template-areas:
    "title  progressbar  name  name method   priority url-arrow"
    "slug   slug  slug slug slug slug slug"
    "msup   msup   msup asup asup asup asup"
    "des    des   des   des des des des"
    "url    url   url   url url url url"
    "type   author  author  author platform platform platform"
    "lectureTime  labTime    start    acomp  status status status"
    "demonstratedskillsdesc   demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc demonstratedskillsdesc"
    "demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl demonstratedskillurl"
    "itemnotes itemnotes itemnotes itemnotes itemnotes itemnotes itemnotes"
    "tags tags tags tags tags tags tags"
    "markforreview  markforreview markforreview markcomplete  markcomplete markcomplete markcomplete"
    "createdAt createdAt createdAt updatedAt updatedAt updatedAt updatedAt"
    "_id _id _id _id _id _id _id"
    "id id id id id id id"
    "identifier identifier identifier identifier identifier identifier identifier "
    "masterLibraryID masterLibraryID masterLibraryID masterLibraryID masterLibraryID masterLibraryID masterLibraryID"
    "buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer"
    "dependencies-container dependencies-container dependencies-container dependencies-container dependencies-container dependencies-container dependencies-container";
  grid-auto-flow: row dense;
  max-width: 100%;
}

.group-title {
  /* background: var(--spt-color-accent-gradient);
  color: var(--spt-color-background); */
  background-clip: unset;
  -webkit-text-fill-color: unset;
  padding: 0.5em 1em;
  min-width: 100%;
  text-transform: capitalize;
  margin-bottom: 0;
  font-variant: small-caps;
}

.section-title {
  font-size: 1.25em;
  font-weight: 700;
  width: min-content;
  flex-basis: 100%;
  flex-grow: 1;
  text-transform: uppercase;
  font-family: arial;
  border-left: 37px solid;
  margin-left: 1em;
}

.subtext {
  background: inherit;
  color: inherit;
  font: var(--spt-font-body-text-12);
}

.button-container {
  flex-basis: 100%;
  position: relative;
  display: flex;
  justify-content: left;
}

.new-form-button-wrap {
  display: flex;
}

.new-form-button-wrap button {
  width: 80%;
  margin: auto;
}

/* New Form Modal*/
.in-modal {
  position: relative;
}

.new-form-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: var(--spt-color-accent-gradient);
  // background: linear-gradient( 180deg, transparent 0, var(--spt-color-accent) 25%, var(--spt-color-accent-dark) 75% ,transparent 100% );
  background: var(--spt-color-accent-2-gradient);
  color: var(--spt-color-background);
  overflow: scroll;
  z-index: 10000;
}

.new-form-modal ul > .group-title {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
}

.new-form-modal div {
  max-height: none !important;
}

.new-form-modal form ul {
  display: flex;
  background: var(--spt-color-accent-2-dark);
  padding: 0;
  margin: auto;
  border-radius: 50px;
  overflow: hidden;
}
.new-form-wrap {
  position: relative;
}
.new-form-modal form ul[id*="newForm"] {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "name name  name name"
    "type type   priority priority"
    "method method method method"
    "msup msup msup msup"
    "asup asup asup asup"
    "des des des des"
    "url url url url"
    "author author platform platform"
    "lectureTime lectureTime labTime labTime"
    "start status acomp acomp"
    "itemnotes itemnotes itemnotes itemnotes"
    "tags tags tags tags";
  grid-auto-flow: row dense;
  max-width: 100%;
}

.new-form-modal form [newformtype="goal"] ul[id*="newForm"] {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "name name"
    "type type"
    "method method"
    "msup msup"
    "asup asup"
    "des des"
    "start start"
    "itemnotes itemnotes"
    "tags tags";
  grid-auto-flow: row dense;
  max-width: 100%;
}

.new-form-modal form [newformtype="goal"] {
  background: var(--spt-color-background-warm);
  color: var(--spt-color-background-contrast);
  border: 3px outset var(--spt-color-background);
}
.new-form-modal form [newformtype="step"] {
  background: var(--spt-color-accent);
  border: 3px outset var(--spt-color-accent-dark);
}

.new-form-modal form [newformtype="hold"] {
  background: var(--spt-color-background-contrast-dark);
  color: var(--spt-color-background-warm);
  border: 3px outset var(--spt-color-background-contrast-dark);
}

.new-form-modal form {
  [newformtype="hold"],
  [newformtype="step"],
  [newformtype="goal"] {
    ul,
    li,
    button {
      background: inherit;
      color: inherit !important;
    }
  }
}
.new-form-modal ul > div {
  margin: 0;
  padding: 0 1em;
  box-shadow: inset -1px -1px 3px -2px white, inset 1px 1px 3px -2px black;
  background: transparent;
}

.new-form-modal form {
  color: inherit;
  background: inherit;
  padding: 3em;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.new-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em auto;
  justify-content: center;
}

.new-form .new-form {
  position: relative;
  flex-basis: fit-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto 2em;
  flex-basis: 33.33%;
  min-width: 400px;
  max-width: 800px;
}

.new-form .new-form > ul {
  list-style: none;
  /* border: 3px solid; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  /* box-shadow: 0px 24px 33px 0px var(--spt-color-accent); */
  max-width: 100%;
  background: none;
  border-radius: 0;
  overflow: auto;
}

.new-form-modal {
  .new-form li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: 0.25em;
    width: auto;
  }

  li,
  input,
  textarea,
  select {
    border-radius: 6.25px;
    border: none;
  }
  input,
  textarea,
  select {
    box-shadow: inset -1px -1px 3px -2px white, inset 1px 1px 3px -2px black;
  }

  .new-form li select {
    width: 100%;
  }

  .new-form-button-wrap {
    display: flex;
    justify-content: center;
  }

  .new-form-button-wrap > button {
    min-width: 100%;
  }
  .new-form-button-wrap > button:hover {
    transform: scale(1, 1.25);
  }

  form label,
  form li:before {
    opacity: 1;
    font-variant: all-small-caps;
    transition: 0.2s all ease;
    font-size: 1em;
  }

  form [for*="type"],
  form [for*="name"],
  form [for*="method"],
  form [class*="priority"] {
    display: initial;
    transform: none;
  }

  form li[class*="name"],
  form li[class*="type"] {
    border: 3px solid var(--spt-color-accent-dark);
    background: var(--spt-color-accent-dark);
  }

  form li[class*="name"]:before,
  form li[class*="type"]:before {
    content: "*";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -30%);
    font-size: 2em;
  }

  form li[class*="markcomplete"],
  form li[class*="markforreview"],
  form li[class*="masterLibraryID"],
  form li[class*="slug"],
  form li[class*="progressbar"],
  form li[class*="demonstratedskill"],
  form li[class*="demonstratedskilssls"],
  form li[class*="_id"],
  form li[class*="createdAt"] {
    display: none;
  }

  .new-form-button {
    position: relative;
    width: fit-content;
    font: var(--spt-font-subheading);
    letter-spacing: var(--spt-spacing-subheading);
    font-family: Arial;
    font-size: 1.2rem;
    z-index: 10;
    margin: 0 0.5em;
    /* box-shadow: inset 1px 1px 1px rgb(255 255 255 / 25%), inset 1px -1px 1px rgb(0 0 0 / 15%), 1px 1px 5px -3px black; */
    box-shadow: 3px 3px 7px -5px white inset,
      -3px -3px 7px -5px rgba(0, 0, 0, 0.5) inset;
    border: none;
    background: var(--spt-color-background);
    color: var(--spt-color-accent);
    border-radius: 50px;
    padding: 0.5em 1em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s all ease;
    font-feature-settings: "smcp";
    font-variant: small-caps;
  }

  .new-form-button {
    background: var(--spt-color-accent-gradient);
    color: var(--spt-color-background);
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    font-size: 1em;
    transition: 0.2s all ease;
  }

  .new-form-button:last-child {
    font-size: 1.8em;
    margin-top: 0;
  }
  .new-form-button:hover {
    position: relative;
    background: var(--spt-color-accent-dark);
    color: var(--spt-color-background);
    transition: 0.3s all ease;
    transform: scale(1, 1.125);
  }

  .new-form-button span {
    text-transform: capitalize;
    text-transform: capitalize;
    -webkit-background-clip: unset;
    color: inherit;
    background: transparent;
    -webkit-text-fill-color: unset;
    pointer-events: none;
  }

  form li input,
  form li select,
  form li textarea {
    min-height: 2em;
    height: 2.5em;
    font: var(--spt-font-body-text);
    font-size: 1em;
  }

  form li[class*="method"] {
    max-height: 100%;
  }
}

// Goal New Item Forms
[type="goal"] .new-form-button-wrap {
  display: none;
}

////////////////////////////////////////////////////////////////
[type="goal"] .list-button-container {
  display: none;
}

ul[type="hold"] {
  background: var(--spt-color-background-contrast-dark);
  color: var(--spt-color-background-warm);
}

.studyPlan-items-group[type="hold"] {
  padding: 2em;
  box-shadow: inset 3px 3px 7px -4px #000000, inset -3px -3px 7px -4px white;
  border-radius: 25px;
  background: var(--spt-color-accent);
  color: var(--spt-color-background-contrast-dark);
}

.studyPlan-items-group[type="hold"] subtext {
  box-shadow: inset 1px 1px 4px -3px #000000, inset -1px -1px 4px -3px white;
  padding: 1.5em 2em;
  border-radius: inherit;
}

.studyPlan-history-list-container {
  position: relative;
  padding-top: 2em;
}

.list-button-container button {
  margin: 0 auto;
}

.sort-button-container {
  display: flex;
  align-items: center;
  margin: 1em;
}

.sort-button-container > * {
  margin: 0 1em 0 0;
}
.sort-button-container[type="goal"] {
  display: none;
}

.sort-button-wrap {
  display: flex;
  align-items: center;
}

.sort-button-wrap select {
  text-align-last: left;
  box-shadow: inset 1px 1px 4px -3px black, inset -1px -1px 3px -2px #b8b8b8;
}

// .sort-button-wrap option { direction: rtl; }
.sort-button-wrap select {
  webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ellipsis;
  border-radius: 6.25px;
  border: none;
  box-shadow: inset -1px -1px 3px -2px white, inset 1px 1px 3px -2px black;
  transition: 0.7s all ease;
  background: var(--spt-color-background);
  color: var(--spt-color-background-contrast);
  font: var(--spt-font-body-text-12);
}

.sort-button-wrap select:hover {
  background: var(--spt-color-accent-dark);
  color: var(--spt-color-background);
  font-weight: 700;
  transition: 0.3s all ease;
}

.new-form .cancel-single-form-button {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background: var(--spt-color-accent-2-dark);
  color: inherit;
  margin: 0;
  box-shadow: none;
  text-align: center;
  padding: 0;
  padding: 0.125em;
  text-indent: 0.375em;
  border-radius: 0 0 0 12.5px;
}

.new-form .cancel-single-form-button:hover {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--spt-color-accent-2-light);
  border-radius: 6.25px;
  transform: translate(0, 6.25%) scale(1.125);
}

.no-items-text {
  background: var(--spt-color-background);
  color: var(--spt-color-background-contrast);
  padding: 0 1em;
}

.instructions-container,
.no-items-text {
  background: inherit;
  color: inherit;
  font: var(--spt-font-body-text-12);
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  margin: auto;
  background: var(--spt-color-background);
  display: flex;
  justify-content: center;
  font: var(--spt-font-body-text-12);
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5),
    inset 3px 3px 7px -3px #ffffff;
  border-radius: 6.25px;
  padding: 1em 3% 2em;
  display: flex;
  flex-direction: column;
}

.studyPlan-items-group {
  p,
  ol {
    opacity: 1;
  }
}
