<h1 class="main-title">Elite Web &amp; Mobile Developer</h1>
<div id="top-btn-wrap" class="main-btn-wrap"><button id="form-open-btn" class="item-btn main-btn section-title">Add an Item</button></div>
<section id="main">
<div id="stats-container"></div>
<article id="curriculum" class="article collapsible-list"><button class="open-all-btn sp-title ">Curriculum</button>
<p class="article-description">Following the philosophy of moving a one stone at a time, the Curriculum represents a single large goal which is then split into smaller topics. Each topic will have assigned to it the courses, projects and other learning material needed to achieve proficiency in the topic. Large topics will be separated into smaller subtopics. These subtopics create a series of small goals that build toward the larger topics which support achieving proficiency in the single large goal.</p><div id="cur-content" class="cur-steps"><div class="loading">Loading the curriculum...if this takes more than 30 seconds, please reload.</div><div class="loader-wrap"><div class="loader loader2"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div></div>
</article><article id="syllabus" class="article collapsible-list">
<div class="syl-head-wrap"><button class="open-all-btn sp-title">Syllabus</button>
<p class="article-description">Here are the action items. This list comprises the courses, projects and other learning material to be covered.</p>
<div id="syl-top-btn-outerwrap" class="btn-outerwrap"><div id="sort_btn_wrap" class="btn-wrap"><button id="syllabus-completed-btn" class="main-btn">Completed Items</button><button id="syllabus-review-btn" class="main-btn">Review Items</button></div><div id="sort_btn_wrap" class="btn-wrap"><button id="syllabus-sort-priority-btn" class="main-btn active-btn">Sort by Priority</button><button id="syllabus-sort-alpha-btn" class="main-btn">Sort Alphabetically</button></div>
</div>
</div>
<div id="syllabus-special-top" class="special-wrap top"></div>
<div id="syl-content" class="syl-steps"><div class="loading">Loading the syllabus...if this takes more than 30 seconds, please reload.</div><div class="loader-wrap"><div class="loader-wrap"><div class="loader loader2"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div></div>
</div></article></section>
<div id="utility-button-wrap" class="main-btn-wrap"><button id="program-json-btn" class="item-btn main-btn">Save as a JSON File</button>
<!-- 				<button id="program-print-btn" class="item-btn main-btn" >Generate a PDF</button> --></div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script> --> <!-- <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script> -->